---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "-10"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  name: openstack-operator
  namespace: openshift-gitops
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    kustomize:
      patches:
        - patch: |-
            - op: add
              path: /metadata/labels
              value:
                argocd.argoproj.io/managed-by: openshift-gitops
          target:
            kind: Namespace
    path: base/cluster/managed/openstack-operator
    repoURL: https://github.com/openstack-gitops/rhoso-gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated: {}
