---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: openstack-common
  namespace: openshift-gitops
spec:
  destination:
    server: https://kubernetes.default.svc
  project: default
  source:
    path: applications/va-base/openstack-common/common
    repoURL: https://github.com/openstack-gitops/rhoso-gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated: {}
